<section id="hero" style="background-color: rgb(231, 245, 231);">
    
            <div class="" >
                
                    <h2>Welcome to hospital website</h2>
                    <div>
                        <img src="https://thumbs.dreamstime.com/b/coronavirus-doctor-working-hospital-copy-text-background-banner-doctors-hospitals-fighting-male-protective-suit-mask-178767502.jpg" alt="" width="1000px" height="250px">
                    </div>
                        <div>
                            <h5>About the Hospital</h5>
                            <p>Hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process. The modern hospital also often serves as a centre for investigation and for teaching.</p>
                        </div>
            </div>
</section>